body{
    background-color: white;
    margin: 0 auto;

}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}



.divs{
    left: 10px;

}

.frmlogin{
    background-color: white;
    width: 390px;
    height: auto;
    padding: 18px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #000000;
}

.ss{
    font-color: red;
}


.lista{
    background-color: white;
    margin-top: 125px;
    padding: 15px;
}

.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

}
.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(5px, 28px, 0px); /* distancia entre menu e btn */
    top: 0px;
    left: 0px;
    will-change: transform;
}
.dropdown {
    display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
    list-style: none; /* rita a "bolinha" do LI*/
}